.roomsControl__btn
  background-color #0275d8
  color white
  border-radius 5px
  border 1px solid #0275d8

.roomsControl__btn:hover
  color grayscale()


@media (max-width: 400px)
  .roomsControl__roomInput
    font-size 12px
    padding 0 2px
    min-width 60px
  .roomsControl
    .btn
      font-size 12px
      padding-left 5px
      padding-right 5px




.gamesListView
  max-height 50vh
  overflow-y auto
  overflow-x hidden


@media (max-width: 400px)
  .gamesListView
    max-height 45vh